---
import "../../index.css";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (session) {
  return Astro.redirect("/");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>가계부</title>
  </head>
  <main>
    <login-handler>
      <div
        class="flex justify-center items-center h-screen"
      >
        <button class="login p-0 m-0 bg-yellow-400 rounded px-2 py-2">
          카카오 로그인
        </button>
      </div>
    </login-handler>
  </main>

  <script>
    import { signIn } from "auth-astro/client";

    class Login extends HTMLElement {
      constructor() {
        super();

        const button = this.querySelector("button.login") as HTMLButtonElement;

        button.addEventListener("click", () => {
          signIn("kakao");
        });
      }
    }

    customElements.define("login-handler", Login);
  </script>


</html>
