---
import { getPaymentMethodInfo } from "lib/server";
import Layout from "../_layout.astro";
import { nanoid } from "nanoid";

const paymentMethodinfo = await getPaymentMethodInfo({
	traceId: nanoid(),
	parentSpanId: "/pages/payment-methods.astro",
	arguments_: {},
});
---

<Layout>
	<div class="h-[80vh] flex items-start">
		<table class="w-screen table-fixed">
			<thead class="bg-lime-100">
				<tr class="text-lg">
					<th class="py-4">소유</th>
					<th>결제수단</th>
					<th>사용</th>
				</tr>
			</thead>
			<tbody class="text-right">
				{
					paymentMethodinfo === undefined
						? undefined
						: paymentMethodinfo.map((index) => (
								<tr class="border-t-1 border-gray-300">
									<td class="text-center pl-1 py-4">
										{index.user}
									</td>
									<td class="text-center">
										{index.paymentMethod}
									</td>
									<td class="pr-4">
										{Number(index.amount!).toLocaleString()}
									</td>
								</tr>
							))
				}
			</tbody>
		</table>
	</div>
</Layout>
