---
import { getPaymentMethodInfo } from "lib/server";
import Layout from "../_layout.astro";
import { css } from "css";
import { nanoid } from "nanoid";

const paymentMethodinfo = await getPaymentMethodInfo({
	traceId: nanoid(),
	parentSpanId: "/pages/payment-methods.astro",
	arguments_: {},
});
---

<Layout>
	<div
		class={css({
			height: "80vh",
			display: "flex",
			alignItems: "start",
		})}
	>
		<table
			class={css({
				width: "100%",
			})}
		>
			<thead
				class={css({
					backgroundColor: "lime.100",
				})}
			>
				<tr>
					<th class={css({ paddingY: "1rem", paddingLeft: "1rem" })}>소유</th>
					<th>결제수단</th>
					<th class={css({ paddingRight: "1rem" })}>사용</th>
				</tr>
			</thead>
			<tbody
				class={css({
					textAlign: "right",
					"& > * + *": {
						borderTop: "1px solid",
						borderColor: "gray.300",
					},
				})}
			>
				{
					paymentMethodinfo === undefined
						? undefined
						: paymentMethodinfo.map((index) => (
								<tr>
									<td
										class={css({
											textAlign: "center",
											paddingLeft: "1rem",
											paddingY: "1rem",
										})}
									>
										{index.user}
									</td>
									<td
										class={css({
											textAlign: "center",
											paddingLeft: "1rem",
											paddingY: "1rem",
										})}
									>
										{index.paymentMethod}
									</td>
									<td class={css({ paddingRight: "1rem" })}>
										{Number(index.amount!).toLocaleString()}
									</td>
								</tr>
							))
				}
			</tbody>
		</table>
	</div>
</Layout>
