---
import Labels from "components/labels.astro";

const { user } = Astro.props;
---

<dialog
	class="backdrop:bg-black/50 m-0"
>
	<form
		id="add-transaction-form"
		class="fixed bottom-0 bg-white text-md pt-2 shadow-md w-full rounded-t-md animate-slide-from-bottom"
	>
		<Labels user={user} />
		<div class="flex px-2 pt-2 pb-4">
			<button
				class="py-4 h-full w-full text-xl font-bold rounded shadow-xl bg-black text-white active:scale-98"
			>
				등록하기
			</button>
		</div>
	</form>
</dialog>
