---
import { css } from "css";
import Labels from "components/labels.astro";

const { id } = Astro.props;
---

<dialog
	id={id}
	class={css({
		width: "100vw",
		height: "100vh",
		maxHeight: "100vh",
		maxWidth: "100vw",
		backgroundColor: "rgba(0, 0, 0, 0.5)",
	})}
>
	<form
		id="add-transaction-form"
		class={css({
			position: "fixed",
			bottom: 0,
			backgroundColor: "white",
			fontSize: "md",
			paddingTop: 2,
			shadow: "0px -5px 15px 0px rgba(0, 0, 0, 0.3)",
			width: "100%",
			roundedTop: "md",
			animation: "slideFromBottom 0.2s ease-out",
		})}
	>
		<Labels />
		<div
			class={css({
				height: "10vh",
				display: "flex",
				padding: 2,
			})}
		>
			<button
				class={css({
					height: "100%",
					width: "100%",
					fontSize: "xl",
					fontWeight: "bold",
					rounded: "md",
					boxShadow: "xl",
					backgroundColor: "black",
					color: "white",
					_active: {
						scale: 0.98,
					},
				})}
			>
				등록하기
			</button>
		</div>
	</form>
</dialog>

<script>
	const form = document.getElementById(
		"add-transaction-form",
	) as HTMLFormElement;

	form.addEventListener("click", (event) => {
		event.stopPropagation();
	});
</script>
