---
---

<div
	class="form-open absolute bottom-0 w-screen h-20 text-xl font-bold flex flex-col justify-center items-center px-2 pt-2 pb-4"
>
	<button
		class="form-open h-full w-full rounded bg-black text-white shadow-xl z-10 active:scale-98"
	>
		추가
	</button>
</div>
