---
import { getBudgets } from "lib/server";
import Layout from "../_layout.astro";
import { css } from "css";
import { nanoid } from "nanoid";

const budgets = await getBudgets({
	traceId: nanoid(),
	parentSpanId: "/pages/budgets.astro",
	arguments_: {},
});
---

<Layout>
	<div
		class={css({
			height: "80vh",
			display: "flex",
			alignItems: "start",
		})}
	>
		<table
			class={css({
				width: "100vw",
				fontSize: "0.8rem",
				tableLayout: "fixed",
			})}
		>
			<thead
				class={css({
					backgroundColor: "lime.100",
				})}
			>
				<tr>
					<th class={css({ paddingY: "1rem" })}>분류</th>
					<th>현재</th>
					<th>예산</th>
					<th>잔액</th>
				</tr>
			</thead>
			<tbody
				class={css({
					textAlign: "right",
					"& > * + *": {
						borderTop: "1px solid",
						borderColor: "gray.300",
					},
				})}
			>
				{
					budgets === undefined
						? undefined
						: budgets.map((b) => (
								<tr>
									<td
										class={css({
											textAlign: "left",
											paddingLeft: "1rem",
											paddingY: "1rem",
										})}
									>
										{b.category}
									</td>
									<td>{b.current.toLocaleString()}</td>
									<td>
										<input
											class={css({
												width: "100%",
												border: "none",
												textAlign: "right",
											})}
											type="number"
											value={b.budget}
										/>
									</td>
									<td
										class={css({
											paddingRight: "1rem",
										})}
									>
										<input
											class={css({
												width: "100%",
												border: "none",
												textAlign: "right",
											})}
											type="number"
											value={b.remain}
										/>
									</td>
								</tr>
							))
				}
			</tbody>
		</table>
	</div>
</Layout>
