---
import { categories, paymentMethods } from "lib/client";

const { transaction, user } = Astro.props;
---

<div
	class="flex flex-col px-4 py-2 space-y-2"
>
	<label class="min-h-0 items-center grid grid-cols-3">
		<span>내용</span>
		<input class="col-span-2 bg-gray-100 rounded-sm px-2 h-10"
			type="text"
			name="description"
			required
			value={transaction?.description ?? ""}
		/>
	</label>
	<label class="items-center grid grid-cols-3">
		<span>금액</span>
		<input class="col-span-2 bg-gray-100 rounded-sm px-2 h-10 min-w-0"
			type="number"
			name="amount"
			required
			value={transaction?.amount ?? undefined}
		/>
	</label>
	<label
		class="w-full items-center grid grid-cols-3"
	>
		<span>날짜</span>
		<input
			class="col-span-2 bg-gray-100 rounded-sm px-2 h-10"
			type="date"
			name="date"
			value={transaction?.date
				?? new Date().toISOString().split("T")[0]}
			required
		/>
	</label>
	<label class="items-center grid grid-cols-3">
		<span>분류</span>
		<select
			class="col-span-2 bg-gray-100 rounded-sm px-2 h-10"
			name="category"
		>
			{
				categories.map((index) => (
					<option value={index} selected={transaction?.category === index}>
						{index}
					</option>
				))
			}
		</select>
	</label>
	<label class="items-center grid grid-cols-3">
		<span>결제수단</span>
		<select
			class="col-span-2 bg-gray-100 rounded-sm px-2 h-10"
			name="paymentMethod"
		>
			{
				paymentMethods.get(user)!.map((index) => (
					<option value={index} selected={index === transaction?.paymentMethod}>
						{index}
					</option>
				))
			}
		</select>
	</label>
</div>
